
# OS Files
.DS_Store
Thumbs.db

# Dependencies
node_modules/
package-lock.json
yarn.lock

# Build output
dist/
*.local

# Tests (local only)
tests/

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
