
::selection{
 color: #fff;
 background: #4285f4;
}
.wrapper{
 width: 100%;
 color: #4285f4;
}
.select-btn, li{
 display: flex;
 align-items: center;
 cursor: pointer;
}
.select-btn{
 height: 65px;
 padding: 0 20px;
 font-size: 22px;
 justify-content: space-between;
 border-bottom: 1px solid #118acb;

}
.select-btn span:nth-child(2){
 font-size: 31px;
 transition: transform 0.3s linear;
}
.wrapper.active .select-btn span:nth-child(2){
 transform: rotate(-180deg);
}
.content{
 display: none;
 padding: 20px;
 background: #1d1651;
}
.options li a {
 text-decoration: none;
 color: #b8e2de;
}
.wrapper.active .content{
 display: block;
}
.content .search{
 position: relative;
}
.search i{
 top: 50%;
 left: 15px;
 color: #999;
 font-size: 20px;
 pointer-events: none;
 transform: translateY(-50%);
 position: absolute;
}
.search input{
 height: 50px;
 width: 100%;
 outline: none;
 font-size: 17px;
 border-radius: 5px;
 padding: 0 20px 0 43px;
 border: 1px solid #B3B3B3;
}
.search input:focus{
 padding-left: 42px;
 border: 2px solid #4285f4;
}
.search input::placeholder{
 color: #bfbfbf;
}
.content .options{
 margin-top: 10px;
 max-height: 250px;
 overflow-y: auto;
 padding-right: 7px;
}
.options::-webkit-scrollbar{
 width: 7px;
}
.options::-webkit-scrollbar-track{
 background: #f1f1f1;
 border-radius: 25px;
}

.options::-webkit-scrollbar-thumb{
 background: #ccc;
 border-radius: 25px;
}
.options::-webkit-scrollbar-thumb:hover{
 background: #b3b3b3;
}
.options li{
 height: 50px;
 padding: 0 13px;
 font-size: 21px;
}
.options li:hover, li.selected{
 border-radius: 5px;
 background: #118acb;
}