* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'ProximaNova-bold';
  font-style: bold;
  src: url(https://cdn.glitch.me/56cef2b5-c0ad-4016-9df6-11c43a89fa91%2FProximaNova-BoldIt.otf?v=1636733937356);
}

@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  src: url(https://cdn.glitch.me/56cef2b5-c0ad-4016-9df6-11c43a89fa91%2FProximaNova-Regular.otf?v=1636733967411);
}

#wrapper::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1d1651;
}

::-webkit-scrollbar-thumb {
  background: #118acb;
  border-radius: 18px;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: auto;
  scroll-behavior: smooth;
}

body {
  font-family: ProximaNova, sans-serif;
  background-color: #1d1651;
  color: #fff;
}

.container {
  width: 100%;
  padding-top: 4vh;
}

.main-heading {
  margin: 0 0vh 4vh 4vh;
  font-size:68px;
}

.decade-intro-img {
  width: 60vh;
  height: 60vh;
  object-fit: none;
}

.decade-main {
  min-width: 33vh;
}

.decade-main img {
  width: 100%;
  height: 35vh;
  object-fit:cover;
  transform: scale(1);
}
.decade-main:hover img {
  transform: scale(1.3);
}
#data-container {
  display: flex;
  flex-direction: row;
  overflow: overlay;

  /* overflow-x: hidden; */
  width: 96%;
  margin: auto;
  padding-bottom:18px;
}

#overlay {
  width: 100%;
  height: 100%;
  background: #1d1651;
  opacity:93%;
  position: absolute;
  top: 0;
  display: none;
}

#decades-container {
  border-bottom: 1px solid #118acb;
  padding-bottom: 1.5vh;
  overflow: hidden;
  display: block;
}

.circle {
  width: 24px;
  height: 24px;
  margin-top: 10px;
  background: #118acb;
  display: block;
  border-radius: 50%;
  margin-right: 12px;
}

.decade-button {
  border: none;
  background: transparent;
  color: #b8e2de;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 1.4px;
  margin: 0px 3vw;
  font-weight: 600;
  text-decoration: none;
}

.decade-button:hover {
  color: #118acb;
}

img {
  width: 100%;
}

.blend {
  filter: sepia(40%) hue-rotate(150deg) saturate(100%);
}

#data-container p {
  margin: 1.4vw 0vw 1vw 0vw;
  font-size: 19px;
  width: 100%;
  min-width: 27vw;
  line-height: 3.25vh;
}

#data-container .decade-intro-p {
  font-size: 24px;
  line-height: 1.25;
  margin-top: 72px;
  min-width: 60vh;
}

.decade-intro {
  display: flex;
  margin-left: 8vw;
  flex-direction: row;
}

.decade-intro>* {
  width: 100%;
  padding: 0.5vw;
  padding-bottom: 0px;
}

.decade-data {
  width: 100%;
  display: flex;
  padding: 1vh;
  padding-bottom: 0vw;
}

.decade-intro-main h1 {
  font-size:36px;
  display: flex;
  margin: 1.5vw 0vw 1vw 0vw;
}

.read-more-btn {
  display: flex;
  align-items: center;
}

.decade-button:focus-within {
  color: green;
}

.read-more-icon {
  width: 16px;
  height: 16px;
  border: 1px solid #118acb;
  display: block;
  margin-right: 24px;
}

.read-more-icon::before {
  content: "";
  width: 14px;
  margin-top: -6px;
  height: 14px;
  background: #1d1651;
  border: 1px solid #118acb;
  display: block;
  margin-left: 3px;
}

.decade-main h2 {
  margin: 2.2vw 0vw 1vw 0vw;
  font-size: 28px;
}

.decade-main div {
  border-bottom: 1px solid #118acb;
  border-top: 1px solid #118acb;
  padding: 0.60vw 0vw;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 19px;
}
.header {
  width: 100%;
  top: 0;
  padding-top: 24px;
  background: #1d1651;
  z-index:1;
}
#popup-container {
  width: 75%;
  max-width: 700px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #080812;
  display: none;
  padding: 8px 18px;
  box-sizing: border-box;
  height: 100vh;
  overflow: auto;
  z-index:2;
}

#popup-container h3 {
  margin: 6px 0px;
  margin-top: 24px;
}

#popup-container h1 {
  margin: 2.5rem 0px;
  margin-bottom: 0;
  font-size:60px;
}

#close-popup {
  text-transform: uppercase;
  font-size: 14px;
  padding: 8px 24px;
  position: absolute;
  top: 16px;
  right: 10px;
  color: #b8e2de;
  font-weight: bold;
  font-family: revert;
  cursor: pointer;
  letter-spacing: 1.5px;
}

.popup-people-img {
  width: 130px;
  margin-right: 24px; 
  margin-bottom: 12px;
}

.popup-img {
  width: 10px;
  height:10px;
  margin-right: 0px;
  margin-left: 120px;
  margin-top: 30px;
  vertical-align: text-top; 
  opacity:50%;
}

.popup-box {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  padding: 12px 0px 24px;
  border-bottom: 1px solid #6e6e78;
  border-top: 1px solid #6e6e78;
}

.popup-box h3 {
  padding: 0px 24px;
  margin: 0px;
  line-height: 25px;
}

.event-section .popup-box{
  align-items: unset !important;
}


.people-section .popup-box{
  align-items: unset !important;
}

.people-section .popup-box h3 {
  margin-top: 12px !important;
}



.popup-section{
  padding-bottom: 36px;
}
@media screen and (max-width:968px) {
  #data-container p{
    line-height: 2.99vh;
    margin: 1.6vh 0vh;
  }

  #data-container .decade-intro-p{
    font-size: 2.8vh;
  }
 
}
.wrapper {
  display: none;
}

@media screen and (max-width:768px) {
 
  .popup-box {
    flex-direction: column-reverse;
  }
  f{
    position: fixed;
    background: #1d1651;
  }
  .main-heading {
    margin: 0 0vh 2vh 2vh;
    font-size:60px;
  }

  .decade-main img{
    height: unset;
    width: 100%;
  }
  #decades-container {
    display: none;
  }
  .wrapper {
    display: block;
  }

  .decade-intro {
    flex-direction: column;
    margin-left: 0;
  }
  #data-container p{
    margin: 4vw 0vw 4vw 0vw;
    font-size: 16px;
  }
  #data-container .decade-intro-p {
    font-size: 19px;
    line-height: 3vh;
    margin-top: 24px;
    min-width: 60vw;
  }

  .decade-intro-main h1 {
    margin: 2.4vw 0vw 2.4vw 0vw;
  }

  .decade-data {
    padding-bottom: 48px;
  }

  .decade-main h2 {
    margin: 2vw 0vw 1.2vw 0vw;
  }
  
  .decade-main div {
    padding: 2.4vw 0vw;
    font-size: 16px;
  }

  #data-container {
    margin-top: 100px;
    flex-direction: column;
  }
  .decade-intro-img {
    width: 100%;
  }

  .popup-box h3 {
    font-size: 15px;
    line-height: 22px;
    text-align: justify;
    padding: 0px 0px;
  }

  .popup-img {
    width: 0px;
    height:0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  
  .header {
    position: sticky;
  }

  .decade-intro>* {
    margin-top: 34%;
  }

  .options li a {
     width: 100%;
  }
}

@media screen and (max-width: 580px) {
  .decade-intro>* {
    margin-top: 46%;
  }
}

@media screen and (max-width: 480px) {
  .decade-intro>* {
    margin-top: 60%;
  }
}